*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display:flex;
    justify-content:center;
    align-items: center;
    min-height :100vh;
    background-color: #d5dbb3;
}
.calculator{
    position: relative;
    display: grid;
}
.calculator .value{
    grid-column:span 4 ;
    height: 100px;
    text-align: right;
    border:none;
    outline: none;
    padding: 10px;
    font-size: 18px;
}
.calculator .num{
    display:grid;
    width: 60px;
    height: 60px;
    color: #000;
    background-color: #fff8d9;
    place-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    
}
.calculator .num:active{
    background-color:rgba(172, 255, 47, 0.623);
    color:#ffffff;

}
.calculator span.clear{
    grid-column: span 2;
    width: 120px;
    background-color: #bb371a;
    color:#ffffff;
}
.calculator span.plus{
    grid-row: span 2;
    height: 120px;
    
}
.calculator span.equal{
    background-color: #eba83a;
    color:#ffffff;
}